.texto-banner{
    color: white !important;
}
#segvis{
    background-image: url(vis2.jpg);
    height: 112vh;
    color: white;
}
#tervis{
    background-image: url(vis3.jpg);
    background-size: cover;
    height: 91vh;
    color: white;
}
#cuavis{
    background-image: url(vis4.jpg);
    background-size: cover;
    height: 91vh;
    color: white;
}
#quivis{
    background-image: url(vis5.png);
    background-size: cover;
    height: 91vh;
    color: white;
}
.card{
    display: flex;
    flex-direction: row;
}
.card-img-top{
    height: 70vh ;
}