#navegador {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  background-color: #3b3834 !important;
  height: 50px;
}

body {
  background-color: black !important;
}

.Nov {
  margin-top: 7vh;
  margin-bottom: 0;
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  animation-name: neonEffect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px 0px #ff0000;
}

#Nov {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

#SL {
  height: 65vh;
}

.SL {
  height: 100%;
  width: 25%;
  border-style: solid;
  border: 1px solid;
  border-color: white;
}

#BL {
  height: 65vh;
}

.BL {
  height: 100%;
  width: 25%;
  border-style: solid;
  border: 1px solid;
  border-color: white;
  margin-bottom: 5vh !important;
}

#AN {
  height: 65vh;
}

.AN {
  height: 100%;
  width: 25%;
  border-style: solid;
  border: 1px solid;
  border-color: white;
  margin-bottom: 5vh !important;
}

.anim {
  margin-top: 5vh !important;
}

@keyframes neonEffect {
  0%, 35%, 45%, 65%, 100% {
    text-shadow: white 0 0 1rem, red 0 0 2rem, red 0 0 3rem;
  }
  40%, 60% {
    text-shadow: none;
  }
}

.sinop {
  margin-top: 5vh;
  min-width: 200px;
}

.texto-banner {
  min-width: 10vh !important;
  flex-direction: column;
}

#text {
  color: white;
  font-family: 'Press Start 2P', cursive;
  animation-name: neonEffect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px 0px #ff198f;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
}

.footer h5 {
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 1rem;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.social-icons li {
  display: inline-block;
  margin-right: 1rem;
}

.social-icons li:last-child {
  margin-right: 0;
}
