
/* 757575 */
/* #111b26 */
/* #5094c7 */

/* Color pagina huella */
.huella{
    text-align: center;
    row-gap: 1vh;
    display: flex;
    width: 100vw;
    height: 80vh;
    padding: 5vh;
    color: white !important;
    flex-direction: column;
    align-items: center;
}
/* Color Nombre Usuario */
.usuario{
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: white;
  background: #111b26 !important;
}

/* Estilos del header */
header {
  background-color: #0288d1;
  padding: 20px 3vw;
}

.contLogo{
  padding-right: 10px;
  border-right: solid 1px black;
  text-align: center;
  width: 22%;
  display: flex;
  height: 10vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 3vw;
  color: white;
}
.logo{
  background: url('/static/LogoTuki.png');
  width: 65%;
  height: 150%;
  background-size: contain;
  background-repeat: no-repeat;
}
.navBar{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.contBtnNav{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
div a{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}


.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Estilos de la sección hero */
.hero {
  height: 100VH;
  background-color: #111b26;
  color: white;
  padding: 5vh 0;
  text-align: center;
  padding: 5vh;
}

.hero-content h2 {
  font-size: 2.5rem;
}

.hero-content p {
  margin: 20px 0;
}

.btn {
  background-color: #fff;
  color: #757575 !important;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0288d1;
  color: #fff !important;
}

/* Estilos de la sección about */
.about {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
  padding: 5vw 20px 0px 20px;
}

.about h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.about p {
  font-size: 1.2rem;
}

/* Estilos de la sección projects */
.projects {
  background-color: #111b26;
  padding: 50px 20px;
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-item {
  display: flex;
  background-color: #111b26;
  outline: 1px solid white;
  outline-offset: 5px;
  border: 3px solid white;
  padding: 20px;
  margin: 10px;
  width: 30%;
  height: 50vh;
  border-radius: 2.5rem;
  box-shadow: 0 0 20px 10px rgb(255 255 255 / 10%);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.hr{
    
    margin: 1rem 0;
    margin-bottom: 5vw;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    box-shadow: 0px 10px 20px 5px rgb(255 255 255 / 87%);
  
}
.item1{
  color: #85d4ff;
  background-image: url('/static/CalculadoraHC.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-item h3 {
  margin-bottom: 10px;
  color: #0288d1;
}

/* Estilos del footer */
footer {
  display: flex;
  gap: 5vh;
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h2 {
  margin-bottom: 20px;
}

footer p {
  margin: 10px 0;
}


.contactosCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
}

.ContRedsocial{
  width: 100%;
  display: flex;
  gap: 10vw;
  justify-content: center;
  flex-direction: row;
}

footer h1{
  font-size: 4vh;
}


.calculator-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.calculator-container h2{
  color: #000000;
}
textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #000000;
  resize: none;
}

.btn-analyze {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-section {
  margin-top: 20px;
  padding: 15px;
  border-top: 1px solid #000000;
  text-align: left;
}



/* Contenedor principal del registro */
.register-container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f8f8f8; /* Fondo del formulario */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Sombra alrededor */
  text-align: center;
}

/* Título */
.register-container h1 {
  color: #000000; /* Color del título */
  font-size: 24px;
  margin-bottom: 20px;
}

/* Grupo de formulario */
.form-group p {
  margin-bottom: 15px;
  text-align: left;
}

/* Etiquetas */
.register-container label {
  color: #000000; /* Color de las etiquetas */
  font-weight: bold;
}

/* Entradas */
.register-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Botón de registro */
.register-btn {
  background-color: #007bff; /* Fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-btn:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

.form-group li{
  color: #000000;
  font-size: 2vh;
}
span{
  color: #000000;
  font-size: 2vh;
}

/* Estilos del formulario de Login */

.login-hero {
  min-height: 60vh;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9fb; /* Fondo claro */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #000000; /* Color del texto */
  text-align: center;
}

.login-hero h1 {
  font-size: 26px;
  font-weight: bold;
  color: #000000; /* Color del texto */
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #333333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 15px;
  box-sizing: border-box;
}

.login-btn {
  background-color: #007bff; /* Color del botón */
  color: #ffffff;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

/**/
.sectRegister{
  padding: 5vw;
}

@media only screen and (max-width: 500px) {
  *{
   font-size: 1.5vh;
  }
  .logo{
   display: none;
  }
  .contLogo{
   font-size: 4vh;
  }
  .btn{
   font-size: 3vh !important;
  }
  .contBtnNav{
   justify-content: center;
   gap: 5vw;
  }
  .nosotros,.registro{
   display: none;
   box-sizing: 0px;
 } 
 .project-item{
   width: 44%;
 }
 }
 @media only screen and (max-width: 760px) {
   *{
    font-size: 3.5vh;
   }
   .logo{
    display: none;
   }
   .contLogo{
    font-size: 4vh;
   }
   .btn{
    font-size: 3vh !important;
   }
   .contBtnNav{
    justify-content: center;
    gap: 5vw;
   }
   .nosotros,.registro{
    display: none;
    box-sizing: 0px;
  } 
  .project-item{
    width: 44%;
  }
  }