{% extends 'index.html' %}

{% block content %}
<div class="calculator-container">
    <h2>Calculadora de Huella de Carbono de Alimentos</h2>
    <form id="recipeForm" method="POST">
        {% csrf_token %}
        <label for="ingredients">Introduce los ingredientes (uno por línea):</label>
        <textarea name="ingredients[]" id="ingredients" rows="5" cols="30" placeholder="Ingrese sus alimentos como es solicitado aqui..."></textarea>
        <button type="submit" class="btn-analyze">Analizar Receta</button>
    </form>
    <div id="result" class="result-section"></div>
</div>

<script>
document.getElementById('recipeForm').onsubmit = function(event) {
    event.preventDefault();
    const form = new FormData(this);

    fetch("{% url 'analyze_recipe' %}", {
        method: 'POST',
        body: form,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' }
    })
    .then(response => response.json())
    .then(data => {
        const resultDiv = document.getElementById('result');
        
        if (!data || !data.ingredients) {
            throw new Error('Los datos de la receta no están disponibles.');
        }

        resultDiv.innerHTML = `
            <h3>Resultado del Análisis</h3>
            <p><strong>Calorías:</strong> ${data.calories}</p>
            <p><strong>Porciones:</strong> ${data.yield}</p>
            <h4>Ingredientes:</h4>
            <ul>
                ${data.ingredients.map(ingredient => `<li>${ingredient.text}</li>`).join('')}
            </ul>
        `;
    })
    .catch(error => {
        document.getElementById('result').innerText = 'Ocurrió un error al analizar la receta. Inténtalo de nuevo.';
    });
};
</script>
{% endblock %}
